.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;

  background-image: url("/main.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nameGradient {
  margin: 0;
  line-height: 1.3;
  font-size: 4rem;
  background-image: url("/movement.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainHeader {
  width: 30%;
  display: flex;
  justify-content: space-between;

  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.mainHeader a {
  font-size: 1.25rem;
  position: relative;
  color: white;
}

.mainHeader a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.mainHeader a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.mainHeader a:hover {
  background-image: url("/movement.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header {
  width: 30%;
  display: flex;
  justify-content: space-between;

  padding-left: 4rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header a {
  font-size: 1.25rem;
  position: relative;
  color: white;
}

.header a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.header a:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.3;
  font-size: 4rem;
  color: white;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.3;
  font-size: 1.5rem;
  color: white;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: auto;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;

  color: white;
  transition: all 1s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  border-color: white;
  background-image: url("/movement.png");
  background-position: 0 100%;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 3em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


/*
  Everything Below is for the Projects Page
*/

.projectContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("/movement.png");
  background-repeat: no-repeat;
  background-size: 100%;
  overflow: hidden;
}

.projectTitle {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 50%;
  text-align: center;
  justify-content: center;
}

.projectList {
  background: #666;
  display: flex;
  flex-direction: column;
}

.project {
  width: 110%;
  height: 50vh;
  overflow: hidden;
  border-top: 3px solid black;
}

.one {
  border-right: 3px solid black;
  width: 40%;
  float: left;
  height: 100%;
  background: #666;
  position: relative;
  transform: skew(-9deg);
}

.two {
  width: 60%;
  float: left;
  height: 100%;
  background: #999;
  transform: skew(-9deg);
  position: relative;
}

.projectContent {
  transform: skew(9deg);
  padding: 20px;
  color: #fff;
  text-align: center;
}

.project img {
  height: 10rem;
}
